/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-italic - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500italic - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600italic - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700italic - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #FF7002;
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input[name="title"] {
    width: 1000px;
    height: 70px;
    background-color: #DEDEDE;
    border-radius: 15px;
    border: none;
    margin: 10px auto;
    display: flex;
}

input[name="subtitle"] {
    width: 1000px;
    height: 50px;
    background-color: #DEDEDE;
    border-radius: 15px;
    border: none;
    margin: 10px auto;

    display: flex;
}

input[name="text"] {
    width: 1000px;
    height: 250px;
    background-color: #DEDEDE;
    border: none;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
}

input[id="searchbar"] {
    width: 50vh;
    height: 2vh;
    background-color: #DEDEDE;
    border-radius: 12px;
    border: none;
    margin: 10px auto;
    display: flex;
}
input[type="button"]{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000AFF;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    margin-left: auto;
    padding: 10px 20px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000AFF;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    margin-left: auto;
    padding: 10px 20px;
}

button[type="submit"]{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000AFF;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    margin-left: auto;
    padding: 10px 20px;
}
button[type="submitе"]{
     background-color: #000AFF;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    margin-left: auto;
    /* добавлено новое свойство */
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

button[type="searcharticles"] {
    background-color: #000AFF;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    margin-left: auto;
    /* добавлено новое свойство */
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}