<!DOCTYPE html>
<html lang="en">

<head>
    <title>Веб приложение для сервиса публикации статей</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style.css')}}">

</head>

<body>
    <form method="POST">
        <input type="text" name="title" placeholder="Введите заголовок">
        <input type="text" name="subtitle" placeholder="Введите подзаголовок">
        <input type="text" name="text" placeholder="Введите основной текст">
        <button type="submit">Отправить</button>
<!--        <input type="file" name="image" accept="image/*" id="upload-image" style="display:none;" />-->
<!--        <button type="submit" onclick="document.getElementById('upload-image').click()">Загрузить картинку</button>-->
        <a href="/search-page">
            <button type="submit">Поиск статей</button>
        </a>
    </form>
</body>
</html>