<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="POST">-->
<!--    <input type="text" name="title">-->
<!--    <input type="text" name="subtitle">-->
<!--    <input type="text" name="text">-->
<!--    <button onclick="window.location.href = '/add_article';"> </button>-->

<!--</form>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html>
<body>

<h2>Загрузка HTML файла</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" id="file" name="file">
  <input type="submit" value="Upload" name="submit">
</form>

</body>
</html>